# Note: You need not change anything here, it is done automatically.

server {
    listen {{ portForClient }} ssl;
    server_name {{ hostname }};

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    ssl_certificate     /etc/letsencrypt/live/{{ hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ hostname }}/fullchain.pem;
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    error_page 497  https://$host:$server_port$request_uri;

    location / {
       rewrite ^/(.*) https://riot.im/app/ permanent;
     }

    location /_matrix {
        proxy_pass http://localhost:8008;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location ~ /.well-known {
        allow all;
    }
}
